* {
  font-family: Lato;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 1104px;
  display: flex;
  justify-content: space-between;
}

.button {
  background: rgb(24, 198, 131);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 24px;
  color: #fff;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

nav .container {
  align-items: center;
}

nav a {
  display: inline-block;
  padding: 16px 20px;
  transition: all 0.5s;
  font-size: 14px;
}

nav a img {
  width: 80px;
  height: auto;
}

main {
  background-color: rgb(240, 240, 240);
}

main .container {
  background-color: #fff;
  width: 480px;
  margin: 48px 0;
  padding: 12px;
}

footer {
  background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246))
    rgb(255, 255, 255);
  color: #fff;
}

footer div.container div {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  width: 23%;
}

footer div.container div div {
  width: 100%;
  margin: 0;
}

footer h4 {
  font-size: 14px;
  font-weight: 550;
  margin-bottom: 8px;
}

footer img {
  transition: all 0.2s;
  opacity: 0.5;
}

footer a,
footer p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.596);
  transition: all 0.3s;
  margin-bottom: 4px;
}

nav a:hover {
  background-color: rgb(240, 240, 240);
}

.button:hover {
  background: rgb(24, 198, 131);
  transform: translateY(-2px);
}

footer a:hover {
  color: #fff;
}

footer img:hover {
  transform: scale(1.01);
  opacity: 1;
}
